body {
    margin: 0 auto;
    background-image: url("stupa.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1378px;
}

div {
    background-image: url('avocado.jpg');
    width: 750px;
    height: 480px;
    margin: 0 auto;
    color: blue;
    padding: 5px;
    border: 2px solid red;
    margin-top: 10px;
}

.justify {
    text-align: justify;
    background-repeat: no-repeat;
}

.repeat {
    background-repeat: repeat-x;
}